*~
*.o
*.ocl
*.la
*.lo
.deps
.libs
Makefile.in
Makefile
configure
m4/libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
